<h1 style="color:red;">Reading from the csv file: Data Profiling and Inspection</h1>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('tips.csv')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
df.dtypes   # Checking the datatypes

total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

In [5]:
df.info()    # Same as df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [30]:
df.columns     # To see the columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [6]:
df.isna().sum()    # Counting the number the missing values

# Hence there are no missing value in the csv file

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

# Counting the number of male and female

In [7]:
df['sex'].value_counts()
# counts the total number of all te categories

sex
Male      157
Female     87
Name: count, dtype: int64

# How many unique value are there in smoker column

In [8]:
df['smoker'].nunique()
# Meaning there are 2 unique category of smoker

2

# Counting the number of smoker and non-smoker

In [15]:
df['smoker'].value_counts()

smoker
No     151
Yes     93
Name: count, dtype: int64

# What are the unique values in the smoker column

In [9]:
df['smoker'].unique()

array(['No', 'Yes'], dtype=object)

In [10]:
df['time'].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

# Calculating the mean of numerical column (tip, size)

In [11]:
df['tip'].mean()

2.99827868852459

In [12]:
df['size'].mean()

2.569672131147541

# Calculating the median of the numerical column (tip, size)

In [13]:
df['tip'].median()

2.9

In [14]:
df['size'].median()

2.0

# Descriptive statistics of numerical data

In [16]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

## **- 25% (Q1), 50% (Q2), 75% (Q3) are quartiles**

# Calculating Percentile and quantile

In [18]:
import numpy as np
# Series ma value pass garyo vane array banxa
np.percentile(df['total_bill'], [25,50,75])

array([13.3475, 17.795 , 24.1275])

In [19]:
np.quantile(df['total_bill'], [0.25,0.50,0.75])

array([13.3475, 17.795 , 24.1275])

# Data inspection

In [20]:
df.describe(include = 'object')

         sex smoker  day    time
count    244    244  244     244
unique     2      2    4       2
top     Male     No  Sat  Dinner
freq     157    151   87     176

<h1 style="color:red;">loc method</h1>
- loc method is used in slicing by location. However, it doesn't support the index of column

# Slicing a DataFrame in Pandas

In [23]:
df.loc[:, ['total_bill', 'time']]

     total_bill    time
0         16.99  Dinner
1         10.34  Dinner
2         21.01  Dinner
3         23.68  Dinner
4         24.59  Dinner
..          ...     ...
239       29.03  Dinner
240       27.18  Dinner
241       22.67  Dinner
242       17.82  Dinner
243       18.78  Dinner

[244 rows x 2 columns]

In [25]:
df.loc[:,['smoker', 'sex']]

    smoker     sex
0       No  Female
1       No    Male
2       No    Male
3       No    Male
4       No  Female
..     ...     ...
239     No    Male
240    Yes  Female
241    Yes    Male
242     No    Male
243     No  Female

[244 rows x 2 columns]

 # loc = location, Unlike general indexing, it also takes the last value

In [27]:
df.loc[30:35,['smoker', 'sex']]

   smoker     sex
30     No    Male
31     No    Male
32     No  Female
33     No  Female
34     No    Male
35     No    Male

# loc only takes the name of column but doesn't take its the index

<h1 style="color:red;">iloc in Pandas</h1>

# Properties of iloc
- Unlike loc, it doesn't include the last value
- Row ra column duitai ko index hunxa
- Negative indexing exists in iloc

In [34]:
# Slicing using iloc
df.iloc[20:26, [3,6] ]

   smoker  size
20     No     2
21     No     2
22     No     2
23     No     4
24     No     2
25     No     4

# Slice the data of those who went to dinner

In [39]:
df.loc[df['time']== 'Dinner']

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[176 rows x 7 columns]

# Slicing the data of those people who smoke

In [41]:
df.loc[df['smoker']== 'Yes']

     total_bill   tip     sex smoker  day    time  size
56        38.01  3.00    Male    Yes  Sat  Dinner     4
58        11.24  1.76    Male    Yes  Sat  Dinner     2
60        20.29  3.21    Male    Yes  Sat  Dinner     2
61        13.81  2.00    Male    Yes  Sat  Dinner     2
62        11.02  1.98    Male    Yes  Sat  Dinner     2
..          ...   ...     ...    ...  ...     ...   ...
234       15.53  3.00    Male    Yes  Sat  Dinner     2
236       12.60  1.00    Male    Yes  Sat  Dinner     2
237       32.83  1.17    Male    Yes  Sat  Dinner     2
240       27.18  2.00  Female    Yes  Sat  Dinner     2
241       22.67  2.00    Male    Yes  Sat  Dinner     2

[93 rows x 7 columns]

# Extract data with tip greater or equal to 5

In [42]:
df.loc[df['tip']>= 5]

     total_bill    tip     sex smoker   day    time  size
11        35.26   5.00  Female     No   Sun  Dinner     4
23        39.42   7.58    Male     No   Sat  Dinner     4
39        31.27   5.00    Male     No   Sat  Dinner     3
44        30.40   5.60    Male     No   Sun  Dinner     4
46        22.23   5.00    Male     No   Sun  Dinner     2
47        32.40   6.00    Male     No   Sun  Dinner     4
52        34.81   5.20  Female     No   Sun  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
73        25.28   5.00  Female    Yes   Sat  Dinner     2
83        32.68   5.00    Male    Yes  Thur   Lunch     2
85        34.83   5.17  Female     No  Thur   Lunch     4
88        24.71   5.85    Male     No  Thur   Lunch     2
116       29.93   5.07    Male     No   Sun  Dinner     4
141       34.30   6.70    Male     No  Thur   Lunch     6
142       41.19   5.00    Male     No  Thur   Lunch     5
143       27.05   5.00  Female     No  Thur   Lunch     6
155       29.85   5.14  Female     No   Sun  Dinner     5
156       48.17   5.00    Male     No   Sun  Dinner     6
170       50.81  10.00    Male    Yes   Sat  Dinner     3
172        7.25   5.15    Male    Yes   Sun  Dinner     2
181       23.33   5.65    Male    Yes   Sun  Dinner     2
183       23.17   6.50    Male    Yes   Sun  Dinner     4
185       20.69   5.00    Male     No   Sun  Dinner     5
197       43.11   5.00  Female    Yes  Thur   Lunch     4
211       25.89   5.16    Male    Yes   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
214       28.17   6.50  Female    Yes   Sat  Dinner     3
239       29.03   5.92    Male     No   Sat  Dinner     3

# Calculating and comparing average tip in Dinner and Lunch time

In [45]:
df.loc[df['time'] == 'Dinner'].tip.mean()

3.102670454545454

In [47]:
df.loc[df['time'] == 'Lunch'].tip.mean()

2.728088235294118

# Performing the above operation in a single line

In [48]:
df.groupby('time').tip.mean()

time
Dinner    3.102670
Lunch     2.728088
Name: tip, dtype: float64

# Calculating and comparing average tip given by Male and Female

In [49]:
df.groupby('sex').tip.mean()

sex
Female    2.833448
Male      3.089618
Name: tip, dtype: float64

# Calculating and comparing average tip given by smoker and non-smoker

In [51]:
df.groupby('smoker').tip.mean()

smoker
No     2.991854
Yes    3.008710
Name: tip, dtype: float64

In [53]:
# Another method for calculating the average tip given by non smoker
df.loc[df['smoker'] == 'Yes'].tip.mean()

3.008709677419355