<h1 style="color:red;">Reading from the "url" csv file</h1>

## **- Note that use always raw version url**

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# Download the csv file directly in GOOGLE COLAB

In [4]:
!wget https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv

'wget' is not recognized as an internal or external command,
operable program or batch file.

# Kun day ko kun time ma dherai tip aauxa

In [5]:
df.groupby(['day','time']).tip.mean()   # 2 or more items should be passed in the form of list in 'groupby' command

day   time
Fri   Dinner    2.940000
      Lunch     2.382857
Sat   Dinner    2.993103
Sun   Dinner    3.255132
Thur  Dinner    3.000000
      Lunch     2.767705
Name: tip, dtype: float64

# Kun sex ko smoker le dherai tip dinxa

In [7]:
df.groupby(['sex','smoker']).tip.mean()

sex     smoker
Female  No        2.773519
        Yes       2.931515
Male    No        3.113402
        Yes       3.051167
Name: tip, dtype: float64

### Hence, male non-smoker tip the greatet on average

# Size 2 vako kun gender le dherai tip diyo

In [9]:
df.loc[df['size']==2].groupby('sex').tip.mean()

sex
Female    2.528448
Male      2.614184
Name: tip, dtype: float64